fl-api-adf/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "fl-api-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/API_Weather')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "API_Weather",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "sampledata//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "weather'][0]['id"
										}
									},
									{
										"source": {
											"path": "[['main']"
										},
										"sink": {
											"name": "main"
										}
									},
									{
										"source": {
											"path": "[['description']"
										},
										"sink": {
											"name": "description"
										}
									},
									{
										"source": {
											"path": "[['icon']"
										},
										"sink": {
											"name": "icon"
										}
									},
									{
										"source": {
											"path": "$['coord']['lon']"
										},
										"sink": {
											"name": "lon"
										}
									},
									{
										"source": {
											"path": "$['coord']['lat']"
										},
										"sink": {
											"name": "lat"
										}
									},
									{
										"source": {
											"path": "$['base']"
										},
										"sink": {
											"name": "base"
										}
									},
									{
										"source": {
											"path": "$['main']['temp']"
										},
										"sink": {
											"name": "temp"
										}
									},
									{
										"source": {
											"path": "$['main']['feels_like']"
										},
										"sink": {
											"name": "feels_like"
										}
									},
									{
										"source": {
											"path": "$['main']['temp_min']"
										},
										"sink": {
											"name": "temp_min"
										}
									},
									{
										"source": {
											"path": "$['main']['temp_max']"
										},
										"sink": {
											"name": "temp_max"
										}
									},
									{
										"source": {
											"path": "$['main']['pressure']"
										},
										"sink": {
											"name": "pressure"
										}
									},
									{
										"source": {
											"path": "$['main']['humidity']"
										},
										"sink": {
											"name": "humidity"
										}
									},
									{
										"source": {
											"path": "$['visibility']"
										},
										"sink": {
											"name": "visibility"
										}
									},
									{
										"source": {
											"path": "$['wind']['speed']"
										},
										"sink": {
											"name": "speed"
										}
									},
									{
										"source": {
											"path": "$['wind']['deg']"
										},
										"sink": {
											"name": "deg"
										}
									},
									{
										"source": {
											"path": "$['clouds']['all']"
										},
										"sink": {
											"name": "all"
										}
									},
									{
										"source": {
											"path": "$['dt']"
										},
										"sink": {
											"name": "dt"
										}
									},
									{
										"source": {
											"path": "$['sys']['type']"
										},
										"sink": {
											"name": "type"
										}
									},
									{
										"source": {
											"path": "$['sys']['id']"
										},
										"sink": {
											"name": "sys_id"
										}
									},
									{
										"source": {
											"path": "$['sys']['country']"
										},
										"sink": {
											"name": "country"
										}
									},
									{
										"source": {
											"path": "$['sys']['sunrise']"
										},
										"sink": {
											"name": "sunrise"
										}
									},
									{
										"source": {
											"path": "$['sys']['sunset']"
										},
										"sink": {
											"name": "sunset"
										}
									},
									{
										"source": {
											"path": "$['timezone']"
										},
										"sink": {
											"name": "timezone"
										}
									},
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name"
										}
									},
									{
										"source": {
											"path": "$['cod']"
										},
										"sink": {
											"name": "cod"
										}
									}
								],
								"collectionReference": "$['weather']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "OpenWeather",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetOpenWeather",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-09-19T15:36:34Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_to_CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "API",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "sampledata//London Weather"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['coord']['lon']"
										},
										"sink": {
											"name": "lon"
										}
									},
									{
										"source": {
											"path": "$['coord']['lat']"
										},
										"sink": {
											"name": "lat"
										}
									},
									{
										"source": {
											"path": "$['weather'][0]['id']"
										},
										"sink": {
											"name": "id"
										}
									},
									{
										"source": {
											"path": "$['weather'][0]['main']"
										},
										"sink": {
											"name": "main"
										}
									},
									{
										"source": {
											"path": "$['weather'][0]['description']"
										},
										"sink": {
											"name": "description"
										}
									},
									{
										"source": {
											"path": "$['weather'][0]['icon']"
										},
										"sink": {
											"name": "weather"
										}
									},
									{
										"source": {
											"path": "$['base']"
										},
										"sink": {
											"name": "base"
										}
									},
									{
										"source": {
											"path": "$['main']['temp']"
										},
										"sink": {
											"name": "temp"
										}
									},
									{
										"source": {
											"path": "$['main']['feels_like']"
										},
										"sink": {
											"name": "feels_like"
										}
									},
									{
										"source": {
											"path": "$['main']['temp_min']"
										},
										"sink": {
											"name": "temp_min"
										}
									},
									{
										"source": {
											"path": "$['main']['temp_max']"
										},
										"sink": {
											"name": "temp_max"
										}
									},
									{
										"source": {
											"path": "$['main']['pressure']"
										},
										"sink": {
											"name": "pressure"
										}
									},
									{
										"source": {
											"path": "$['main']['humidity']"
										},
										"sink": {
											"name": "humidity"
										}
									},
									{
										"source": {
											"path": "$['visibility']"
										},
										"sink": {
											"name": "visibility"
										}
									},
									{
										"source": {
											"path": "$['wind']['speed']"
										},
										"sink": {
											"name": "speed"
										}
									},
									{
										"source": {
											"path": "$['wind']['deg']"
										},
										"sink": {
											"name": "deg"
										}
									},
									{
										"source": {
											"path": "$['clouds']['all']"
										},
										"sink": {
											"name": "all"
										}
									},
									{
										"source": {
											"path": "$['dt']"
										},
										"sink": {
											"name": "dt"
										}
									},
									{
										"source": {
											"path": "$['sys']['type']"
										},
										"sink": {
											"name": "sys"
										}
									},
									{
										"source": {
											"path": "$['sys']['id']"
										},
										"sink": {
											"name": "dt_id"
										}
									},
									{
										"source": {
											"path": "$['sys']['country']"
										},
										"sink": {
											"name": "country"
										}
									},
									{
										"source": {
											"path": "$['sys']['sunrise']"
										},
										"sink": {
											"name": "sunrise"
										}
									},
									{
										"source": {
											"path": "$['sys']['sunset']"
										},
										"sink": {
											"name": "sunset"
										}
									},
									{
										"source": {
											"path": "$['timezone']"
										},
										"sink": {
											"name": "timezone"
										}
									},
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "timezone_id"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name"
										}
									},
									{
										"source": {
											"path": "$['cod']"
										},
										"sink": {
											"name": "cod"
										}
									}
								],
								"collectionReference": "$['weather']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_0v5",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_0v5",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-09-19T15:35:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyNewFilesByLastModifiedDate')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy new and changed files only by using LastModifiedDate",
				"activities": [
					{
						"name": "CopyNewFiles",
						"description": "Copy new and changed files only by using LastModifiedDate",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@{pipeline().parameters.LastModified_From}",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@{pipeline().parameters.LastModified_To}",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "BinaryDataSourceStore",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.FolderPath_Source",
										"type": "Expression"
									},
									"Directory": {
										"value": "@pipeline().parameters.Directory_Source",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "BinaryDataDestinationStore",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.FolderPath_Destination",
										"type": "Expression"
									},
									"Directory": {
										"value": "@pipeline().parameters.Directory_Destination",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FolderPath_Source": {
						"type": "String",
						"defaultValue": "raw"
					},
					"Directory_Source": {
						"type": "String",
						"defaultValue": "API/API_Salesforce"
					},
					"FolderPath_Destination": {
						"type": "String",
						"defaultValue": "curated"
					},
					"Directory_Destination": {
						"type": "String",
						"defaultValue": "raw/API/API_Salesforce"
					},
					"LastModified_From": {
						"type": "String",
						"defaultValue": "2019-02-01T00:00:00Z"
					},
					"LastModified_To": {
						"type": "String",
						"defaultValue": "2019-03-01T00:00:00Z"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-09-22T08:56:59Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyToSalesforce')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Salesforce_To_Raw",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "Id",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "OwnerId",
											"type": "String"
										},
										"sink": {
											"name": "OwnerId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IsDeleted",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsDeleted",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "WorkOrderNumber",
											"type": "String"
										},
										"sink": {
											"name": "WorkOrderNumber",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CurrencyIsoCode",
											"type": "String"
										},
										"sink": {
											"name": "CurrencyIsoCode",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RecordTypeId",
											"type": "String"
										},
										"sink": {
											"name": "RecordTypeId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "CreatedById",
											"type": "String"
										},
										"sink": {
											"name": "CreatedById",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "LastModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastModifiedDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "LastModifiedById",
											"type": "String"
										},
										"sink": {
											"name": "LastModifiedById",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SystemModstamp",
											"type": "DateTime"
										},
										"sink": {
											"name": "SystemModstamp",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "LastViewedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastViewedDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "LastReferencedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastReferencedDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "AccountId",
											"type": "String"
										},
										"sink": {
											"name": "AccountId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ContactId",
											"type": "String"
										},
										"sink": {
											"name": "ContactId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CaseId",
											"type": "String"
										},
										"sink": {
											"name": "CaseId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "AssetId",
											"type": "String"
										},
										"sink": {
											"name": "AssetId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Street",
											"type": "String"
										},
										"sink": {
											"name": "Street",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "PostalCode",
											"type": "String"
										},
										"sink": {
											"name": "PostalCode",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "StateCode",
											"type": "String"
										},
										"sink": {
											"name": "StateCode",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CountryCode",
											"type": "String"
										},
										"sink": {
											"name": "CountryCode",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "Latitude",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "Longitude",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "GeocodeAccuracy",
											"type": "String"
										},
										"sink": {
											"name": "GeocodeAccuracy",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "StartDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "StartDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "EndDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "EndDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Subject",
											"type": "String"
										},
										"sink": {
											"name": "Subject",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RootWorkOrderId",
											"type": "String"
										},
										"sink": {
											"name": "RootWorkOrderId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Priority",
											"type": "String"
										},
										"sink": {
											"name": "Priority",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Tax",
											"type": "Decimal"
										},
										"sink": {
											"name": "Tax",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Subtotal",
											"type": "Decimal"
										},
										"sink": {
											"name": "Subtotal",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "TotalPrice",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotalPrice",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "LineItemCount",
											"type": "Int32"
										},
										"sink": {
											"name": "LineItemCount",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Pricebook2Id",
											"type": "String"
										},
										"sink": {
											"name": "Pricebook2Id",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Discount",
											"type": "Decimal"
										},
										"sink": {
											"name": "Discount",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "GrandTotal",
											"type": "Decimal"
										},
										"sink": {
											"name": "GrandTotal",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "ParentWorkOrderId",
											"type": "String"
										},
										"sink": {
											"name": "ParentWorkOrderId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IsClosed",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsClosed",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "BusinessHoursId",
											"type": "String"
										},
										"sink": {
											"name": "BusinessHoursId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Duration",
											"type": "Decimal"
										},
										"sink": {
											"name": "Duration",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "DurationType",
											"type": "String"
										},
										"sink": {
											"name": "DurationType",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DurationInMinutes",
											"type": "Decimal"
										},
										"sink": {
											"name": "DurationInMinutes",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "ServiceAppointmentCount",
											"type": "Int32"
										},
										"sink": {
											"name": "ServiceAppointmentCount",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "StatusCategory",
											"type": "String"
										},
										"sink": {
											"name": "StatusCategory",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "LocationId",
											"type": "String"
										},
										"sink": {
											"name": "LocationId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Due_Date__c",
											"type": "DateTime"
										},
										"sink": {
											"name": "Due_Date__c",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Approval_Status__c",
											"type": "String"
										},
										"sink": {
											"name": "Approval_Status__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "New_POS_Solution_Request__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "New_POS_Solution_Request__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "TID__c",
											"type": "String"
										},
										"sink": {
											"name": "TID__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Remove_POS_Solution__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Remove_POS_Solution__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "New_Merchant_Closure__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "New_Merchant_Closure__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Notify_Account_Owner__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Notify_Account_Owner__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Account_Manager__c",
											"type": "String"
										},
										"sink": {
											"name": "Account_Manager__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "New_POS_Solution__c",
											"type": "String"
										},
										"sink": {
											"name": "New_POS_Solution__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Merchant_Closure__c",
											"type": "String"
										},
										"sink": {
											"name": "Merchant_Closure__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "TID_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "TID_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Account_Owner_Email__c",
											"type": "String"
										},
										"sink": {
											"name": "Account_Owner_Email__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Parent_Account_Manager__c",
											"type": "String"
										},
										"sink": {
											"name": "Parent_Account_Manager__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Parent_Account_Manager_Email__c",
											"type": "String"
										},
										"sink": {
											"name": "Parent_Account_Manager_Email__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Owning_Country__c",
											"type": "String"
										},
										"sink": {
											"name": "Owning_Country__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Solution_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "Solution_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Terminal_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "Terminal_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Comms_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "Comms_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "POS_Solution__c",
											"type": "String"
										},
										"sink": {
											"name": "POS_Solution__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Terminal__c",
											"type": "String"
										},
										"sink": {
											"name": "Terminal__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Solution__c",
											"type": "String"
										},
										"sink": {
											"name": "Solution__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Till_System__c",
											"type": "String"
										},
										"sink": {
											"name": "Till_System__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "PSP__c",
											"type": "String"
										},
										"sink": {
											"name": "PSP__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Terminal_Rental_Per_Month__c",
											"type": "String"
										},
										"sink": {
											"name": "Terminal_Rental_Per_Month__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Quantity__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Quantity__c",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Web_Services__c",
											"type": "String"
										},
										"sink": {
											"name": "Web_Services__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Terminal_Rental_Start_Date__c",
											"type": "DateTime"
										},
										"sink": {
											"name": "Terminal_Rental_Start_Date__c",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Printer_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "Printer_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Contact_Phone__c",
											"type": "String"
										},
										"sink": {
											"name": "Contact_Phone__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Contact_Email__c",
											"type": "String"
										},
										"sink": {
											"name": "Contact_Email__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Work_Order_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "Work_Order_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Display_Vat_Option__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Display_Vat_Option__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Tipping__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Tipping__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Pre_Auths__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Pre_Auths__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "No_Cash_Refund__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "No_Cash_Refund__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Print_Large_Font__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Print_Large_Font__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Capture_Nationality__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Capture_Nationality__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Till_Link_New_Business_Only__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Till_Link_New_Business_Only__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Auto_Batch__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Auto_Batch__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "CVM_Confirmation_Received__c",
											"type": "DateTime"
										},
										"sink": {
											"name": "CVM_Confirmation_Received__c",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "VAT_Solution_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "VAT_Solution_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Integrated_Solution_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "Integrated_Solution_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Terminal_Type_GB__c",
											"type": "String"
										},
										"sink": {
											"name": "Terminal_Type_GB__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Product__c",
											"type": "String"
										},
										"sink": {
											"name": "Product__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Store_ID__c",
											"type": "String"
										},
										"sink": {
											"name": "Store_ID__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "TF_Current_Provider__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "TF_Current_Provider__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Visa__c",
											"type": "String"
										},
										"sink": {
											"name": "Visa__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Mastercard__c",
											"type": "String"
										},
										"sink": {
											"name": "Mastercard__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Amex__c",
											"type": "String"
										},
										"sink": {
											"name": "Amex__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Diners__c",
											"type": "String"
										},
										"sink": {
											"name": "Diners__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "JCB__c",
											"type": "String"
										},
										"sink": {
											"name": "JCB__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Planet_Union_Pay__c",
											"type": "String"
										},
										"sink": {
											"name": "Planet_Union_Pay__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Approval_Required__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Approval_Required__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "In_Store_Solution__c",
											"type": "String"
										},
										"sink": {
											"name": "In_Store_Solution__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Closure_or_Deactivation__c",
											"type": "String"
										},
										"sink": {
											"name": "Closure_or_Deactivation__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Account_Manager_Notified__c",
											"type": "String"
										},
										"sink": {
											"name": "Account_Manager_Notified__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "AX__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "AX__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "AddStore__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "AddStore__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Planet_App_Activation_Code__c",
											"type": "String"
										},
										"sink": {
											"name": "Planet_App_Activation_Code__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Date_Set_to_Close_on_TF_Systems__c",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date_Set_to_Close_on_TF_Systems__c",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Date_Shop_Closing__c",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date_Shop_Closing__c",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "GBTF__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "GBTF__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "HAT__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "HAT__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Print__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Print__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Reason_for_Closing__c",
											"type": "String"
										},
										"sink": {
											"name": "Reason_for_Closing__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "TRS__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "TRS__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Reason_for_Deactivating__c",
											"type": "String"
										},
										"sink": {
											"name": "Reason_for_Deactivating__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Date_to_Deactivate_Terminals__c",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date_to_Deactivate_Terminals__c",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Terminal_Returned__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Terminal_Returned__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Date_Returned__c",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date_Returned__c",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Close_Shop__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Close_Shop__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Advised__c",
											"type": "String"
										},
										"sink": {
											"name": "Advised__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Avg_Acquiring_Profit_per_Terminal_Year__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Avg_Acquiring_Profit_per_Terminal_Year__c",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Avg_Net_Comm_Per_Terminal_per_Year__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Avg_Net_Comm_Per_Terminal_per_Year__c",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Background_to_Request__c",
											"type": "String"
										},
										"sink": {
											"name": "Background_to_Request__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Connection_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "Connection_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Integrated__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Integrated__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Manual_Forms__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Manual_Forms__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Reason_for_Request__c",
											"type": "String"
										},
										"sink": {
											"name": "Reason_for_Request__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Rental_Return_Per_Month__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Rental_Return_Per_Month__c",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Terminal_Detail__c",
											"type": "String"
										},
										"sink": {
											"name": "Terminal_Detail__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Third_Party_Union_Pay__c",
											"type": "String"
										},
										"sink": {
											"name": "Third_Party_Union_Pay__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Shop_Brand_Location__c",
											"type": "String"
										},
										"sink": {
											"name": "Shop_Brand_Location__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Quantity_PAX__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Quantity_PAX__c",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Quantity_Vx__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Quantity_Vx__c",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Use__c",
											"type": "String"
										},
										"sink": {
											"name": "Use__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Rental_Return_Per_Month_Value__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Rental_Return_Per_Month_Value__c",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Quantity_PTF__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Quantity_PTF__c",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Alipay__c",
											"type": "String"
										},
										"sink": {
											"name": "Alipay__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "WeChat_Pay__c",
											"type": "String"
										},
										"sink": {
											"name": "WeChat_Pay__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SalesforceObject2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-09-21T10:17:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Move')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyAFile",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().parameters.Source_Directory",
										"type": "Expression"
									},
									"wildcardFileName": "*",
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "BinarySource",
								"type": "DatasetReference",
								"parameters": {
									"Container": "@pipeline().parameters.Source_Container",
									"Directory": "@pipeline().parameters.Source_Directory"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "BinaryDestination",
								"type": "DatasetReference",
								"parameters": {
									"Container": "@pipeline().parameters.Destination_Container",
									"Directory": "@pipeline().parameters.Destination_Directory"
								}
							}
						]
					},
					{
						"name": "DeleteAFile",
						"description": "Delete a file from the source store",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyAFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "BinaryDelete",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.Destination_Container",
										"type": "Expression"
									},
									"Directory": {
										"value": "@pipeline().parameters.Destination_Directory",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": "2022-09-21T00:00:00Z",
								"modifiedDatetimeEnd": "2022-09-20T00:00:00Z",
								"wildcardFileName": "WorkOrder*"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Source_Container": {
						"type": "string",
						"defaultValue": "curated"
					},
					"Source_Directory": {
						"type": "string",
						"defaultValue": "crm/transactions/salesforce"
					},
					"Destination_Container": {
						"type": "string",
						"defaultValue": "archive"
					},
					"Destination_Directory": {
						"type": "string",
						"defaultValue": "crm/transactions/salesforce"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-09-22T16:53:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Parquet3",
								"type": "DatasetReference"
							},
							"name": "REST"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DestinationDataset_0v5",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: true,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false,",
						"     moveFiles: ['/crm/transactions/salesforce/2022/09/22/11','crm'],",
						"     format: 'parquet') ~> REST",
						"REST sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_Salesforce')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "API_Salesforce",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "Id",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "OwnerId",
											"type": "String"
										},
										"sink": {
											"name": "OwnerId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IsDeleted",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsDeleted",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "WorkOrderNumber",
											"type": "String"
										},
										"sink": {
											"name": "WorkOrderNumber",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CurrencyIsoCode",
											"type": "String"
										},
										"sink": {
											"name": "CurrencyIsoCode",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RecordTypeId",
											"type": "String"
										},
										"sink": {
											"name": "RecordTypeId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "CreatedById",
											"type": "String"
										},
										"sink": {
											"name": "CreatedById",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "LastModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastModifiedDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "LastModifiedById",
											"type": "String"
										},
										"sink": {
											"name": "LastModifiedById",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SystemModstamp",
											"type": "DateTime"
										},
										"sink": {
											"name": "SystemModstamp",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "LastViewedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastViewedDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "LastReferencedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastReferencedDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "AccountId",
											"type": "String"
										},
										"sink": {
											"name": "AccountId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ContactId",
											"type": "String"
										},
										"sink": {
											"name": "ContactId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CaseId",
											"type": "String"
										},
										"sink": {
											"name": "CaseId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "AssetId",
											"type": "String"
										},
										"sink": {
											"name": "AssetId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Street",
											"type": "String"
										},
										"sink": {
											"name": "Street",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "PostalCode",
											"type": "String"
										},
										"sink": {
											"name": "PostalCode",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "StateCode",
											"type": "String"
										},
										"sink": {
											"name": "StateCode",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CountryCode",
											"type": "String"
										},
										"sink": {
											"name": "CountryCode",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "Latitude",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "Longitude",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "GeocodeAccuracy",
											"type": "String"
										},
										"sink": {
											"name": "GeocodeAccuracy",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "StartDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "StartDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "EndDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "EndDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Subject",
											"type": "String"
										},
										"sink": {
											"name": "Subject",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RootWorkOrderId",
											"type": "String"
										},
										"sink": {
											"name": "RootWorkOrderId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Priority",
											"type": "String"
										},
										"sink": {
											"name": "Priority",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Tax",
											"type": "Decimal"
										},
										"sink": {
											"name": "Tax",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Subtotal",
											"type": "Decimal"
										},
										"sink": {
											"name": "Subtotal",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "TotalPrice",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotalPrice",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "LineItemCount",
											"type": "Int32"
										},
										"sink": {
											"name": "LineItemCount",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Pricebook2Id",
											"type": "String"
										},
										"sink": {
											"name": "Pricebook2Id",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Discount",
											"type": "Decimal"
										},
										"sink": {
											"name": "Discount",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "GrandTotal",
											"type": "Decimal"
										},
										"sink": {
											"name": "GrandTotal",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "ParentWorkOrderId",
											"type": "String"
										},
										"sink": {
											"name": "ParentWorkOrderId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IsClosed",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsClosed",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "BusinessHoursId",
											"type": "String"
										},
										"sink": {
											"name": "BusinessHoursId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Duration",
											"type": "Decimal"
										},
										"sink": {
											"name": "Duration",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "DurationType",
											"type": "String"
										},
										"sink": {
											"name": "DurationType",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DurationInMinutes",
											"type": "Decimal"
										},
										"sink": {
											"name": "DurationInMinutes",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "ServiceAppointmentCount",
											"type": "Int32"
										},
										"sink": {
											"name": "ServiceAppointmentCount",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "StatusCategory",
											"type": "String"
										},
										"sink": {
											"name": "StatusCategory",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "LocationId",
											"type": "String"
										},
										"sink": {
											"name": "LocationId",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Due_Date__c",
											"type": "DateTime"
										},
										"sink": {
											"name": "Due_Date__c",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Approval_Status__c",
											"type": "String"
										},
										"sink": {
											"name": "Approval_Status__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "New_POS_Solution_Request__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "New_POS_Solution_Request__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "TID__c",
											"type": "String"
										},
										"sink": {
											"name": "TID__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Remove_POS_Solution__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Remove_POS_Solution__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "New_Merchant_Closure__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "New_Merchant_Closure__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Notify_Account_Owner__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Notify_Account_Owner__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Account_Manager__c",
											"type": "String"
										},
										"sink": {
											"name": "Account_Manager__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "New_POS_Solution__c",
											"type": "String"
										},
										"sink": {
											"name": "New_POS_Solution__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Merchant_Closure__c",
											"type": "String"
										},
										"sink": {
											"name": "Merchant_Closure__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "TID_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "TID_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Account_Owner_Email__c",
											"type": "String"
										},
										"sink": {
											"name": "Account_Owner_Email__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Parent_Account_Manager__c",
											"type": "String"
										},
										"sink": {
											"name": "Parent_Account_Manager__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Parent_Account_Manager_Email__c",
											"type": "String"
										},
										"sink": {
											"name": "Parent_Account_Manager_Email__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Owning_Country__c",
											"type": "String"
										},
										"sink": {
											"name": "Owning_Country__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Solution_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "Solution_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Terminal_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "Terminal_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Comms_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "Comms_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "POS_Solution__c",
											"type": "String"
										},
										"sink": {
											"name": "POS_Solution__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Terminal__c",
											"type": "String"
										},
										"sink": {
											"name": "Terminal__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Solution__c",
											"type": "String"
										},
										"sink": {
											"name": "Solution__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Till_System__c",
											"type": "String"
										},
										"sink": {
											"name": "Till_System__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "PSP__c",
											"type": "String"
										},
										"sink": {
											"name": "PSP__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Terminal_Rental_Per_Month__c",
											"type": "String"
										},
										"sink": {
											"name": "Terminal_Rental_Per_Month__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Quantity__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Quantity__c",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Web_Services__c",
											"type": "String"
										},
										"sink": {
											"name": "Web_Services__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Terminal_Rental_Start_Date__c",
											"type": "DateTime"
										},
										"sink": {
											"name": "Terminal_Rental_Start_Date__c",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Printer_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "Printer_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Contact_Phone__c",
											"type": "String"
										},
										"sink": {
											"name": "Contact_Phone__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Contact_Email__c",
											"type": "String"
										},
										"sink": {
											"name": "Contact_Email__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Work_Order_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "Work_Order_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Display_Vat_Option__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Display_Vat_Option__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Tipping__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Tipping__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Pre_Auths__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Pre_Auths__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "No_Cash_Refund__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "No_Cash_Refund__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Print_Large_Font__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Print_Large_Font__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Capture_Nationality__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Capture_Nationality__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Till_Link_New_Business_Only__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Till_Link_New_Business_Only__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Auto_Batch__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Auto_Batch__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "CVM_Confirmation_Received__c",
											"type": "DateTime"
										},
										"sink": {
											"name": "CVM_Confirmation_Received__c",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "VAT_Solution_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "VAT_Solution_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Integrated_Solution_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "Integrated_Solution_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Terminal_Type_GB__c",
											"type": "String"
										},
										"sink": {
											"name": "Terminal_Type_GB__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Product__c",
											"type": "String"
										},
										"sink": {
											"name": "Product__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Store_ID__c",
											"type": "String"
										},
										"sink": {
											"name": "Store_ID__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "TF_Current_Provider__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "TF_Current_Provider__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Visa__c",
											"type": "String"
										},
										"sink": {
											"name": "Visa__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Mastercard__c",
											"type": "String"
										},
										"sink": {
											"name": "Mastercard__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Amex__c",
											"type": "String"
										},
										"sink": {
											"name": "Amex__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Diners__c",
											"type": "String"
										},
										"sink": {
											"name": "Diners__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "JCB__c",
											"type": "String"
										},
										"sink": {
											"name": "JCB__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Planet_Union_Pay__c",
											"type": "String"
										},
										"sink": {
											"name": "Planet_Union_Pay__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Approval_Required__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Approval_Required__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "In_Store_Solution__c",
											"type": "String"
										},
										"sink": {
											"name": "In_Store_Solution__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Closure_or_Deactivation__c",
											"type": "String"
										},
										"sink": {
											"name": "Closure_or_Deactivation__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Account_Manager_Notified__c",
											"type": "String"
										},
										"sink": {
											"name": "Account_Manager_Notified__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "AX__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "AX__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "AddStore__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "AddStore__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Planet_App_Activation_Code__c",
											"type": "String"
										},
										"sink": {
											"name": "Planet_App_Activation_Code__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Date_Set_to_Close_on_TF_Systems__c",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date_Set_to_Close_on_TF_Systems__c",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Date_Shop_Closing__c",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date_Shop_Closing__c",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "GBTF__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "GBTF__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "HAT__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "HAT__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Print__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Print__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Reason_for_Closing__c",
											"type": "String"
										},
										"sink": {
											"name": "Reason_for_Closing__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "TRS__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "TRS__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Reason_for_Deactivating__c",
											"type": "String"
										},
										"sink": {
											"name": "Reason_for_Deactivating__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Date_to_Deactivate_Terminals__c",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date_to_Deactivate_Terminals__c",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Terminal_Returned__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Terminal_Returned__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Date_Returned__c",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date_Returned__c",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Close_Shop__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Close_Shop__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Advised__c",
											"type": "String"
										},
										"sink": {
											"name": "Advised__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Avg_Acquiring_Profit_per_Terminal_Year__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Avg_Acquiring_Profit_per_Terminal_Year__c",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Avg_Net_Comm_Per_Terminal_per_Year__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Avg_Net_Comm_Per_Terminal_per_Year__c",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Background_to_Request__c",
											"type": "String"
										},
										"sink": {
											"name": "Background_to_Request__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Connection_Type__c",
											"type": "String"
										},
										"sink": {
											"name": "Connection_Type__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Integrated__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Integrated__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Manual_Forms__c",
											"type": "Boolean"
										},
										"sink": {
											"name": "Manual_Forms__c",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Reason_for_Request__c",
											"type": "String"
										},
										"sink": {
											"name": "Reason_for_Request__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Rental_Return_Per_Month__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Rental_Return_Per_Month__c",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Terminal_Detail__c",
											"type": "String"
										},
										"sink": {
											"name": "Terminal_Detail__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Third_Party_Union_Pay__c",
											"type": "String"
										},
										"sink": {
											"name": "Third_Party_Union_Pay__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Shop_Brand_Location__c",
											"type": "String"
										},
										"sink": {
											"name": "Shop_Brand_Location__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Quantity_PAX__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Quantity_PAX__c",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Quantity_Vx__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Quantity_Vx__c",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Use__c",
											"type": "String"
										},
										"sink": {
											"name": "Use__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Rental_Return_Per_Month_Value__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Rental_Return_Per_Month_Value__c",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Quantity_PTF__c",
											"type": "Decimal"
										},
										"sink": {
											"name": "Quantity_PTF__c",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Alipay__c",
											"type": "String"
										},
										"sink": {
											"name": "Alipay__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "WeChat_Pay__c",
											"type": "String"
										},
										"sink": {
											"name": "WeChat_Pay__c",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Salesforce_UAT",
								"type": "DatasetReference",
								"parameters": {
									"Salesforce_Object": "@pipeline().parameters.Salesforce_Object"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Move",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "API_Salesforce",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Move",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FolderPath_Source": {
						"type": "string",
						"defaultValue": "curated/crm/transactions/salesforce"
					},
					"Salesforce_Object": {
						"type": "string",
						"defaultValue": "WorkOrder"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-09-23T09:07:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Move')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Salesforce')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CopyToSalesforce",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 2,
						"startTime": "2022-09-21T10:18:00Z",
						"endTime": "2022-09-22T10:18:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CopyToSalesforce')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Account')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "API_Salesforce",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 5,
						"startTime": "2022-09-19T14:39:00Z",
						"endTime": "2022-09-20T14:39:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/API_Salesforce')]"
			]
		}
	]
}