pipeline/ADF_Pipeline_Metadata.json
{
	"name": "ADF_Pipeline_Metadata",
	"properties": {
		"description": "Check if pipeline is already running. ",
		"activities": [
			{
				"name": "Get ADF Execution Metadata",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set CurrentDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set AccessToken",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set PriorDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/', activity('Get Environment Properties').output.firstRow.SubscriptionID, '/resourceGroups/', activity('Get Environment Properties').output.firstRow.ResourceGroupName, '/providers/Microsoft.DataFactory/factories/', activity('Get Environment Properties').output.firstRow.ADFName, '/queryPipelineRuns?api-version=2018-06-01')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json",
						"Authorization": {
							"value": "@CONCAT('Bearer ',variables('AccessToken'))",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{\n\"lastUpdatedAfter\":\"@{variables('PriorDateTime')}\",\n\"lastUpdatedBefore\":\"@{variables('CurrentDateTime')}\",\n\"filters\":[\n                  {\"operand\":\"PipelineName\",\n                   \"operator\":\"Equals\",\n                    \"values\":[\n                                  \"@{pipeline().parameters.PipelineName}\"\n                                  ]\n                   },\n                  {\"operand\":\"Status\",\n                   \"operator\":\"Equals\",\n                    \"values\":[\n                                  \"InProgress\"\n                                  ]\n                   }\n              ]\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set CurrentDateTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentDateTime",
					"value": {
						"value": "@adddays(utcnow(), +1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set PriorDateTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PriorDateTime",
					"value": {
						"value": "@adddays(utcnow(), -1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Token",
				"description": "",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Environment Properties",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Concat Params for Logging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@CONCAT('https://login.microsoftonline.com/',activity('Get Environment Properties').output.firstRow.ADFTenantID,'/oauth2/token')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@CONCAT('grant_type=client_credentials&resource=https%3A%2F%2Fmanagement.azure.com%2F&client_id=',activity('Get Environment Properties').output.firstRow.ADFClientID,'&client_secret=',activity('Get Environment Properties').output.firstRow.ADFClientSecret,'&scope=openid')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set AccessToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "AccessToken",
					"value": {
						"value": "@activity('Get Token').output.access_token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Pipeline is Already Running",
				"description": "There will always be one instance of the calling / parent pipeline, so count the number of values returned and fail if > 1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get ADF Execution Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Get ADF Execution Metadata').output.value), 1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Fail the Pipeline",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FailThePipeline",
								"value": "Pass string instead of boolean value in order to fail the pipeline"
							}
						}
					]
				}
			},
			{
				"name": "Get Environment Properties",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "Curated_WorkOrder",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Concat Params for Logging",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ConcatenatedParams",
					"value": {
						"value": "@concat('CallingPipelineName = ', pipeline().parameters.PipelineName)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"PipelineName": {
				"type": "string",
				"defaultValue": "Name of Calling Pipeline"
			},
			"MetadataDB": {
				"type": "string",
				"defaultValue": "YourDatabaseName"
			}
		},
		"variables": {
			"CurrentDateTime": {
				"type": "String"
			},
			"PriorDateTime": {
				"type": "String"
			},
			"AccessToken": {
				"type": "String"
			},
			"FailThePipeline": {
				"type": "Boolean"
			},
			"ConcatenatedParams": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}